<p>Bem vindo a <strong>ATHENTO</strong>, um projeto que promove e sustenta o espaço para uma escuta empática e autêntica. O sistema de Amigos Ouvintes está qualificado para te escutar com os ouvidos ligados diretamente ao coração.</p>

<p>Abaixo solicitamos alguns dados básicos para realizar uma sessão gratuita de escuta empática, neste período "piloto".</p>

<p>Sua colaboração neste projeto é a nível de cocriação. Desta forma, solicitamos sua participação na pequisa que será enviada em seguida, após a sessão.</p>

<p>Desejamos uma experiência surpreendente no uso da real escuta.</p>

<%= render 'form', talker: @talker %>
