<p>Sua solicitação de agenda, no dia <%= l @talker.forecast_at, format: :short %>, para uma sessão de escuta empática com um de nossos qualificados Amigos Ouvintes, foi enviada com sucesso.</p>

<p>Agora vamos encontrar um Amigo Ouvinte disponível neste horário e entraremos em contato por e-mail para confirmar a sessão.</p>

<p>* Importante: Neste momento de projeto piloto, pode ser necessário sugerirmos um horário próximo ao solicitado, pela disponibilidade dos Amigos Ouvintes. Isso será realizado por email, caso necessário.</p>
